.list_view{
	margin: 3em;
}

.def_name>a {
	text-decoration: none;
	color: black;
}

.panel{
	width:calc(100%/3.05);
	height: calc(100%/4); 
	display: inline-block;
}

.desc{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width:inherit; 
}

hr { width:100%; height:1px; background: #fff }

.list-head{
	font-size:2em;
}

/* modal definitions */
.modal-content > .modal-body > p {
	max-width:auto;
	display: block;
}

.modal-content > .modal-body > .imgHolder {
	width:auto; 
	height:auto;
	position:relative;	
}

.modal-content > .modal-body > .imgHolder > img {
    width:100%;
    height:auto;
}