<template name="def_list">
  <div class="col-xs-12">
    <section class="list_view">

    <ul>
      <h3>Filter By:</h3>

      <!-- Single button for category -->
      <div class="btn-group category">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Category 
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a class="rm" href="#">Rocks and Minerals</a></li>
          <li role="separator" class="divider"></li>
          <li><a class="d" href="#">Definitions</a></li>
          <li role="separator" class="divider"></li>
          <li><a class="all" href="#">All</a></li>
        </ul>
      </div>

      <button type="button" class="btn btn-primary reset">Reset</button>

    </ul>

    
    {{#each definitions}}
      <div><h4 class="def_name">{{{modalName}}}</h4></div> 
      <div>{{{modalDesc}}}</div>
      {{#unless equals Occ ""}}
      <div> <h5>See Sites: {{{Occ}}}</h5></div>
      {{/unless}} 
      <hr />
    {{/each}}



    </section>
  </div>
</template>