<template name="site_view">

<div class="container-fluid">

    <div class="col-md-7 col-xs-6">
      <div class="SiteViewMapContainer">
        {{> googleMap name="site_view_map" options= site_view_map_options}}
      </div>
    </div>
  

  <div class="col-md-5 col-xs-6">
    <div class="SiteViewInfoContainer">
      <h4> {{siteID}}:{{SiteName}}</h4>
      <div class="scroll">
        {{{modalDesc}}}
      </div>

      <span>
      <!--Carousel 1 item--> 
      <div class = "carousel-holder">
      {{#if equals ImageN 1}}
        <div id="carousel" class="carousel slide container" style="width: auto; margin: 0 auto">
          <div class="carousel-inner">
            <div class="item active" style="background: url(back.png) no-repeat left center; background-size: cover;"><a data-toggle="modal" href="#myModal1"> <img src="sitePictures/{{siteID}}a.png"> </a></div>
          </div>
          <a class="left carousel-control" href="#carousel" data-slide="prev"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
          <a class="right carousel-control" href="#carousel" data-slide="next"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><span class="sr-only">next</span></a>
          <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0"></li>
          </ol>
        </div>
      <!--Modal 1 item-->
      <div class="modal fade" id="myModal1" role="dialog"><div class="modal-dialog"><div class="modal-content"><img class="responsive" src="sitePictures/{{siteID}}a.png"></div></div></div>
        {{else}}
        <!--Carousel 2 item-->
          {{#if equals ImageN 2}}
            <div id="carousel" class="carousel slide container">
              <div class="carousel-inner">
                <div class="item active" style="background: url(back.png) no-repeat left center; background-size: cover;"><a data-toggle="modal" href="#myModal1"> <img src="sitePictures/{{siteID}}a.png"> </a></div>
                <div class="item" style="background: url(back.png) no-repeat left center; background-size: cover;"><a data-toggle="modal" href="#myModal2"> <img src="sitePictures/{{siteID}}b.png"> </a></div>
              </div>
              <a class="left carousel-control" href="#carousel" data-slide="prev"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
              <a class="right carousel-control" href="#carousel" data-slide="next"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><span class="sr-only">next</span></a>
              <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
              </ol>
            </div>
        <!--Modal 2 item-->
        <div class="modal fade" id="myModal1" role="dialog"><div class="modal-dialog"><div class="modal-content"><img class="responsive" src="sitePictures/{{siteID}}a.png"></div></div></div>
        <div class="modal fade" id="myModal2" role="dialog"><div class="modal-dialog"><div class="modal-content"><img class="responsive" src="sitePictures/{{siteID}}b.png"></div></div></div>
          {{else}}
        <!--Carousel 3 item-->
          {{#if equals ImageN 3}}
            <div id="carousel" class="carousel slide container" style="width: auto; margin: 0 auto">
              <div class="carousel-inner">
                <div class="item active" style="background: url(back.png) no-repeat left center; background-size: cover;"><a data-toggle="modal" href="#myModal1"> <img src="sitePictures/{{siteID}}a.png"> </a></div>
                <div class="item" style="background: url(back.png) no-repeat left center; background-size: cover;"><a data-toggle="modal" href="#myModal2"> <img src="sitePictures/{{siteID}}b.png"> </a></div>
                <div class="item" style="background: url(back.png) no-repeat left center; background-size: cover;"><a data-toggle="modal" href="#myModal3"> <img src="sitePictures/{{siteID}}c.png"> </a></div>
              </div>
              <a class="left carousel-control" href="#carousel" data-slide="prev"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
              <a class="right carousel-control" href="#carousel" data-slide="next"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><span class="sr-only">next</span></a>
              <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
              </ol>
            </div>
          <!--Modal 3 item-->
          <div class="modal fade" id="myModal1" role="dialog"><div class="modal-dialog"><div class="modal-content"><img class="responsive" src="sitePictures/{{siteID}}a.png"></div></div></div>
          <div class="modal fade" id="myModal2" role="dialog"><div class="modal-dialog"><div class="modal-content"><img class="responsive" src="sitePictures/{{siteID}}b.png"></div></div></div>
          <div class="modal fade" id="myModal3" role="dialog"><div class="modal-dialog"><div class="modal-content"><img class="responsive" src="sitePictures/{{siteID}}c.png"></div></div></div>
            {{else}}
            <!--Carousel 4 item-->
              {{#if equals ImageN 4}}
              <div id="carousel" class="carousel slide container" style="width: auto; margin: 0 auto">
                <div class="carousel-inner">
                  <div class="item active" style="background: url(back.png) no-repeat left center; background-size: cover;"><a data-toggle="modal" href="#myModal1"> <img src="sitePictures/{{siteID}}a.png"> </a></div>
                  <div class="item" style="background: url(back.png) no-repeat left center; background-size: cover;"><a data-toggle="modal" href="#myModal2"> <img src="sitePictures/{{siteID}}b.png"> </a></div>
                  <div class="item" style="background: url(back.png) no-repeat left center; background-size: cover;"><a data-toggle="modal" href="#myModal3"> <img src="sitePictures/{{siteID}}c.png"> </a></div>
                  <div class="item" style="background: url(back.png) no-repeat left center; background-size: cover;"><a data-toggle="modal" href="#myModal4"> <img src="sitePictures/{{siteID}}d.png"> </a></div>
                </div>
                <a class="left carousel-control" href="#carousel" data-slide="prev"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
                <a class="right carousel-control" href="#carousel" data-slide="next"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><span class="sr-only">next</span></a>
                <ol class="carousel-indicators">
                  <li data-target="#carousel" data-slide-to="0"></li>
                  <li data-target="#carousel" data-slide-to="1"></li>
                  <li data-target="#carousel" data-slide-to="2"></li>
                  <li data-target="#carousel" data-slide-to="3"></li>
                </ol>
              </div>
            <!--Modal 4 item-->
            <div class="modal fade" id="myModal1" role="dialog"><div class="modal-dialog"><div class="modal-content"><img class="responsive" src="sitePictures/{{siteID}}a.png"></div></div></div>
            <div class="modal fade" id="myModal2" role="dialog"><div class="modal-dialog"><div class="modal-content"><img class="responsive" src="sitePictures/{{siteID}}b.png"></div></div></div>
            <div class="modal fade" id="myModal3" role="dialog"><div class="modal-dialog"><div class="modal-content"><img class="responsive" src="sitePictures/{{siteID}}c.png"></div></div></div>
            <div class="modal fade" id="myModal4" role="dialog"><div class="modal-dialog"><div class="modal-content"><img class="responsive" src="sitePictures/{{siteID}}d.png"></div></div></div>
          {{else}}
          <!--NO IMAGE -->
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
      </span>

    </div>

  </div>
  
</div>

</template>