<template name="about">

  <div class="page-header">
    <h1>About</h1>
  </div>

  <div class="text">
  <h5> 
    Ontario has one of the best backyards in the world; its rocks and landscapes record a fascinating 3 billion year long geologic history. Let's Rocks Ontario is a guide to more than 500 sites from the Canadian Shield of the north to the limestones plains and glaciated lowlands of the south that reveal Ontario’s outdoors, its rocks, fossils and natural attractions. 
  </h5>
  <a href="http://www.fitzhenry.ca/nick-eyles"> <h4> Publisher Link </h4> </a>

<div>
</div>

  </div>

</template>

