.list_view{
	margin: 3em;
}
.list_view>a{
	text-decoration: none;
	color: black;
}

.panel{
	width:calc(100%/3.05);
	height: calc(100%/4); 
	display: inline-block;
}

.desc{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width:inherit; 
}
